@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* Colors */
    --wfp-primary: #007DBC;
    --wfp-primary-light: #e6f3f9;
    --wfp-text: #404040;
    --wfp-border: #eee;

    /* Spacing */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;

    /* Shadows */
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.02);
    --shadow-md: 0 0 15px rgba(0, 0, 0, 0.05);

    /* Border Radius */
    --radius-sm: 6px;
    --radius-md: 8px;
}

* {
font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--wfp-text);
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

/* Base styles */
.content-wrapper{
    background: #ecebeb;
}

.sidebar,
.main-header .navbar {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    background: #ffffff;
    font-size: 14px;
    line-height: 1.2;
}

/* Header styles */
.skin-blue .main-header {

    .logo,
    .navbar {
        background: #FFF !important;
        color: #007DBC !important;
    }

    .logo {
        font-weight: 600;
        font-size: 1.4em;
    }
}

.sidebar-toggle {
    color: #007DBC !important;
    &:hover {
            background: #007DBC !important;
            color: #FFF !important;
        }
}

/* Sidebar styles */
.skin-blue .main-sidebar {
    background: white !important;
    color: #007DBC;
}

.skin-blue .sidebar-menu>li {
    >a {
        color: #3d3d3d !important;

        &:hover {
            background: #007DBC !important;
            color: #FFF !important;
        }
    }

    &.active>a {
        background: #FFF !important;
        color: #007DBC !important;
    }
}

/* Component styles */
.box,
.info-box,
.small-box {
    border-radius: 12px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05) !important;
    border: none !important;
}

.box-header .box-title {
    font-weight: 600 !important;
    font-size: 1.1em !important;
}

/* Matrix table styles */
.matrix-table {

    th,
    td {
        padding: 0;
        border: 1px solid #444;
    }

    th {
        background: #eee;
    }
}
.box.box-solid.box-primary>.box-header {
    background-color: --wfp-primary;
}

.box.box-solid.box-info>.box-header{
    background-color: white;
    color: #002F5A;
}

.box.box-solid.box-warning>.box-header {
    color: #002F5A;
    background-color: #fff;
    font-family: 'Open Sans';
}